@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&display=swap');
.menu{
  background-color: inherit;
  padding: 20px;
}
.menu .logo {
  color: #fff;
  font-size: 30px;
  transition: all 0.5s ease-out;
  padding: 5px;
  width: 180px;
  font-family: 'Inter', sans-serif;
  font-weight: bold;
}
.menu .logo::before {
  content: '<';
  color: orange;
  opacity: 0;
  padding-right: 10px;
}
.menu .logo::after {
  content: '/>';
  color: orange;
  opacity: 0;
  padding-left: 10px;
}
.menu .logo:hover::before,
.menu .logo:hover::after{
  opacity: 1;
}
